<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Basic Nodejs</title>
</head>
<body>
  <h1>List Users</h1>
  <!-- <%= dataUser %>
   -->
 <table id="customers">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <% for(var i=0; i<dataUser.length; i++) {%>
    <tr>
      <td>
        <%= dataUser[i].id%>
      </td>
      <td>
        <%= dataUser[i].name%>
      </td>
      <td>
        <%= dataUser[i].address%>
      </td>
      <td>
        <a href="/detail/user/<%= dataUser[i].id%>" target="_blank">Detail</a>
        <div>
          <form action="/delete-user" method="POST">
            <input type="text" value="<%= dataUser[i].id%>" name="id" hidden>
            <button type="submit">delete</button>
          </form>
        </div>
        <a href="/edit-user/<%= dataUser[i].id%>" target="_blank">Edit</a>
      </td>
    </tr>
 <% } %>
  
</table>
<div class="create-user-container">

  <form action="/create-user" method="POST">
    <div>Create new user</div>
    <div>
      <label for="">name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="">email</label>
      <input type="email" name="email">
    </div>
    <div>
      <label for="">address</label>
      <input type="text" name="address">
    </div>
    <div>
      
      <button type="submit">submit</button>
    </div>
  </form>
</div>
</body>
</html>