<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>edit and add bill</title>
  <script>
    function checker(e){
      let methodPay= document.getElementsByName("methodPay")[0].value;
      let nameCustomer = document.getElementsByName("nameCustomer")[0].value;
      let email = document.getElementsByName("email")[0].value;
      let phone = document.getElementsByName("phone")[0].value;
      let address = document.getElementsByName("address")[0].value;
      let dateBill = document.getElementsByName("dateBill")[0].value;
      let totalMoney = document.getElementsByName("totalMoney")[0].value;
      let statusBill = document.getElementsByName("statusBill")[0].value;
      let idP = document.getElementsByName("idP")[0].value;
      let quantityP = document.getElementsByName("quantityP")[0].value;
      // let idGroup = document.getElementsByName("idGroup")[0].value;
      if(nameCustomer !="" && email !="" && phone !=""&& address !=""&& dateBill !="" && totalMoney !="" && statusBill != "" && idP != "" && quantityP != ""){
        if(window.confirm("Are you sure create or update bill")){
        document.getElementById("edit-add-form").submit();
        } else {
          e.preventDefault();
        }
      }
      
    }
  </script>
</head>
<body>
  <div class="container">
    <form action="<% if(idBill != -1){ %>
      update-bill
      <%} else { %>
      create-bill
      <% } %>"
      method="POST" id="edit-add-form">

      <% if (idBill != -1) { %>
        <p> Edit Bill</p>
        <%} else { %>
          <p> Create Bill</p>
        <% } %>
      <!-- <h1>Edit Bill</h1> -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name Customer</label>
          <input type="text" class="form-control" name="nameCustomer" placeholder="Name bill"
            value="<%= data.nameCustomer %>" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email"
            value="<%= data.email %>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Phone</label>
          <input type="text" class="form-control" name="phone" placeholder="Phone" value="<%= data.phone %>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Address</label>
          <input type="text" class="form-control" name="address" placeholder="Address" value="<%= data.address %>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Date bill</label>
          <input type="date" class="form-control" name="dateBill" placeholder="Date"
            value="<%= data.dateBill %>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">totalMoney</label>
          <input type="number" class="form-control" name="totalMoney" placeholder="totalMoney" value="<%= data.totalMoney %>" required>
        </div>
        
        <div class="form-group col-md-6">
          <label for="inputPassword4">methodPay</label>
          <select class="form-select" name="methodPay">
            <option value="0">Tien mat</option>
            <option value="1">Chuyen khoan</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">noteBill</label>
          <input type="text" class="form-control" name="noteBill" placeholder="noteBill" value="<%= data.noteBill %>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">statusBill</label>
          <select name="statusBill" class="form-select">
            <option value="0" selected="<%= data.statusBill=='0'?true: false %>">Huy don hang</option>
            <option value="1" selected="<%= data.statusBill=='1'?true: false %>"> Dang xu ly</option>
            <option value="2" selected="<%= data.statusBill=='2'?true: false %>">Da giao hang</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">id San Pham</label>
          <input type="text" class="form-control" name="idP" placeholder="id product" value="<%= data.idP %>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">So luong mua</label>
          <input type="text" class="form-control" name="quantityP" placeholder="So luong mua" value="<%= data.quantityP %>" required>
        </div>
      </div>
      <input type="text" name="id" value="<%= data.id %>" hidden />
      <div class="form-group mt-3">
        <% if (idBill != -1) { %>
          <button type="submit" class="btn btn-primary">Update</button>
        <%} else { %>
            <button class="btn btn-primary" form="edit-add-form" onclick="checker(event)"> Create bill</button>
        <% } %>
      </div>
    </form>
  </div>

</body>
</html>